pipelines/ec3890f7-b5ad-91ce-45e4-99845cd18481.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": "bcts_metadata",
              "table": "cdc_master_table_list"
            },
            "schema": [],
            "linkedService": {
              "name": "bcts_lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "7ac0563b-983b-b055-42b2-4d21c35a1880",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_fta_tables",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 10,
          "items": {
            "value": "@activity('Filter fta tables').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "@if(\n  equals(item().customsql_ind, 'Y'),\n  item().customsql_query,\n  concat(\n    'SELECT * FROM ',\n    item().source_schema_name,\n    '.',\n    item().source_table_name\n  )\n)",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "numberPrecision": 38,
                  "numberScale": 10,
                  "datasetSettings": {
                    "type": "OracleTable",
                    "schema": [],
                    "externalReferences": {
                      "connection": "b491a84a-ad79-4c8c-97fd-10bc0f852423"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "applyVOrder": false,
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().target_schema_name",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().target_table_name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "bcts_lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "7ac0563b-983b-b055-42b2-4d21c35a1880",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy fta tables",
              "dependsOn": []
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "logArray",
                "value": {
                  "value": "@json(concat(\n'{',\n'\"report_name\":\"fta_replication\",',\n'\"source_schema\":\"', item().source_schema_name, '\",',\n'\"source_table\":\"', item().source_table_name, '\",',\n'\"status\":\"SUCCESS\",',\n'\"error_message\":\"\"',\n'}'\n))\n",
                  "type": "Expression"
                }
              },
              "name": "logs_append_success",
              "dependsOn": [
                {
                  "activity": "Copy fta tables",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "logArray",
                "value": {
                  "value": "@json(concat(\n'{',\n'\"report_name\":\"fta_replication\",',\n'\"source_schema\":\"', item().source_schema_name, '\",',\n'\"source_table\":\"', item().source_table_name, '\",',\n'\"status\":\"FAILED\",',\n'\"error_message\":\"', replace(activity('Copy fta tables').error.message,'\"',''), '\"',\n'}'\n))\n",
                  "type": "Expression"
                }
              },
              "name": "logs_append_failure",
              "dependsOn": [
                {
                  "activity": "Copy fta tables",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "hasFailure",
                "value": true
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set_HasFailure",
              "dependsOn": [
                {
                  "activity": "logs_append_failure",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Filter fta tables",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('lookup_fta_tables').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@and(\n  and(\n    equals(item().application_name, 'FTA'),\n    equals(item().target_schema_name, 'fta_replication')\n  ),\n  equals(item().active_ind, 'Y')\n)\n",
            "type": "Expression"
          }
        },
        "name": "Filter fta tables",
        "description": "As on 2026-05-20, lakehouse doesn't support queries within lookup activity",
        "dependsOn": [
          {
            "activity": "lookup_fta_tables",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "7663dc1b-7a0e-a3fd-4a8a-d2d229715fbd",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "logArray      ": {
              "value": {
                "value": "@string(variables('logArray'))",
                "type": "Expression"
              },
              "type": "string"
            },
            "run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipeline_name ": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "bulk_insert_logs",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "variables": {
      "hasFailure": {
        "type": "Boolean",
        "defaultValue": false
      },
      "logArray": {
        "type": "Array",
        "defaultValue": []
      }
    },
    "concurrency": 1
  }
}